{:kotoba.app/id "cloud.itonami.isic-6920", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicnpusj23uwl7sd3pnvv5zq6grgc6hwrzjvkbuwo4vcrzzdecubuu", :kotoba.app/embed-url "ipfs://bafkreicnpusj23uwl7sd3pnvv5zq6grgc6hwrzjvkbuwo4vcrzzdecubuu", :published {:archive "https://kotobase.net/ipfs/bafkreicnpusj23uwl7sd3pnvv5zq6grgc6hwrzjvkbuwo4vcrzzdecubuu", :size 79021, :put-status 201, :get-status 200, :at "2026-08-15T13:38:34.317Z"}}
